.advantages {
  padding-top: 120px;
  padding-bottom: 61px;

  background-color: #f8f9fc;

  @media (max-width: $tablet) {
    padding-top: 100px;
    padding-bottom: 92px;
  }

  @media (max-width: $mobile) {
    padding-top: 70px;
    padding-bottom: 60px;
  }
}

.advantages__container {
  @media (max-width: $mobile) {
    padding: 0;
  }
}

.advantages__list {
  display: grid;
  grid-template-columns: 1fr 240px 1fr;
  gap: 51px 60px;
  max-width: 1040px;
  margin: 0 auto;
  padding-top: 40px;

  @media (max-width: $tablet) {
    grid-template-columns: repeat(2, 1fr);
    gap: 27px;
    padding-top: 27px;
  }

  @media (max-width: $mobile) {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

.advantages__item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 30px;
  grid-column: -2/-1;
  padding: 0 0 23px;

  color: #102654;

  border-bottom: 2px solid rgba(209, 10, 66, 0.2);

  @media (max-width: $tablet) {
    padding: 0;

    border: none;
  }

  @media (max-width: $mobile) {
    display: block;
    padding: 0 46px;

    text-align: center;
  }

  &:nth-child(2n) {
    grid-column: 1/2;
    padding-left: 20px;

    @media (max-width: $tablet) {
      padding-left: 0;
    }

    @media (max-width: $mobile) {
      padding: 0 46px;
    }
  }

  &:nth-last-child(-n + 2) {
    padding-bottom: 0;

    border-bottom: 2px solid transparent;
  }
}

.advantages__number {
  max-width: 108px;

  @media (max-width: $mobile) {
    margin: 0 auto;
  }
}

.advantages__number span {
  display: block;

  font-size: 14px;
  line-height: 21px;
  color: #2e35ac;

  &:first-child {
    font-weight: 700;
    font-size: 71px;
    line-height: 107px;
    color: transparent;

    background-color: #2e35ac;
    background-image: linear-gradient(142.51deg, #d10a42 0%, #0041ca 87.33%);
    background-clip: text;

    @media (max-width: $tablet) {
      font-size: 58px;
      line-height: 89px;
    }
  }
}

.advantages__number span + span {
  margin-top: -21px;
}

.advantages__content h3 {
  margin: 22px 0 6px;

  font-weight: 700;
  font-size: 22px;
  line-height: 33px;

  @media (max-width: $tablet) {
    margin: 15px 0 2px;

    font-size: 20px;
    line-height: 30px;
  }

  @media (max-width: $mobile) {
    margin-top: 8px;
  }
}

.advantages__content p {
  margin: 0;

  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
}

.advantages__item--center {
  display: block;
  grid-column: 2/3;
  grid-row: 1 / span 2;
  margin-top: 28px;
  margin-bottom: 59px;
  padding: 36px 20px 56px;

  text-align: center;
  color: #ffffff;

  background-color: #1c3374;

  @media (max-width: $tablet) {
    grid-column: 1/-1;
    grid-row: 2/3;
    width: 100%;
    max-width: 442px;
    margin: 17px auto 0;
    padding: 15px 115px 37px;
  }

  @media (max-width: $mobile) {
    grid-row: 3/4;
    margin: 23px auto 5px;
    padding: 20px 55px 43px;
  }
}

.advantages__item--center .advantages__number {
  max-width: 100%;
}

.advantages__item--center span {
  font-size: 26px;
  line-height: 39px;
  color: #ffffff;

  @media (max-width: $tablet) {
    font-size: 22px;
    line-height: 33px;
  }

  &:first-child {
    font-weight: 700;
    font-size: 74px;
    line-height: 111px;
    color: #ffffff;

    @media (max-width: $tablet) {
      font-size: 74px;
      line-height: 111px;
    }
  }
}

.advantages__item--center span + span {
  margin-top: -16px;
  margin-bottom: 32px;

  @media (max-width: $tablet) {
    margin-top: -21px;
    margin-bottom: 16px;
  }

  @media (max-width: $mobile) {
    margin-top: -25px;
    margin-bottom: 9px;
  }
}

.advantages__item--center p {
  line-height: 24px;
}
