.feedback {
  padding-top: 60px;
  padding-bottom: 120px;

  @media (max-width: $tablet) {
    padding-top: 41px;
    padding-bottom: 100px;
  }

  @media (max-width: $mobile) {
    padding-bottom: 70px;
  }
}

.feedback h2 {
  margin-bottom: 50px;

  @media (max-width: $tablet) {
    margin-bottom: 39px;
  }

  @media (max-width: $mobile) {
    margin-bottom: 42px;
  }
}

.feedback__swiper-container {
  position: relative;

  max-width: 680px;
  margin: 0 auto;

  @media (max-width: $mobile) {
    padding: 0 32px;
  }
}

.feedback__swiper {
  max-width: 560px;

  @media (max-width: $tablet) {
    max-width: 566px;
  }

  @media (max-width: $mobile) {
  }
}

.feedback__swiper-slide {
  display: grid;
  padding: 55px 62px 57px;

  color: #ffffff;

  background-color: #1c3374;
  box-shadow: 0 0 40px rgba(28, 51, 116, 0.2);

  gap: 4px 27px;
  grid-template-columns: auto 1fr;

  @media (max-width: $tablet) {
    padding: 55px 65px 57px;
  }

  @media (max-width: $mobile) {
    padding: 32px 22px 36px;

    gap: 15px;
  }
}

.feedback__swiper-img {
  width: 80px;
  height: 80px;
  margin-top: 7px;
  overflow: hidden;

  border-radius: 50%;

  grid-column: 1/2;
  grid-row: 1 / span 2;

  @media (max-width: $mobile) {
    width: 68px;
    height: 68px;
    margin-left: 20px;

    grid-row: auto;
  }
}

.feedback__swiper-slide h3 {
  margin: 0 0 8px;

  font-size: 20px;
  line-height: 30px;

  @media (max-width: $mobile) {
    margin-top: 16px;

    line-height: 26px;
  }
}

.feedback__swiper-content {
  font-size: 16px;
  line-height: 22px;

  grid-column: 2/-1;

  @media (max-width: $mobile) {
    text-align: center;

    grid-column: 1/-1;
  }
}

.feedback__swiper-slide blockquote {
  margin: 0;
}

.feedback__swiper-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;

  background: none;
  border: none;

  &:hover,
  &:focus {
    outline: none;
  }

  &:hover::after,
  &:focus::after {
    color: #1c3374;
  }
}

.feedback__swiper-button::after {
  font-size: 32px;
  color: #afafaf;

  @media (max-width: $mobile) {
    font-size: 20px;
  }
}

.feedback__swiper-button--prev {
  left: 0;

  @media (max-width: $tablet) {
    left: -6px;
  }
}

.feedback__swiper-button--next {
  right: 0;

  @media (max-width: $tablet) {
    right: -6px;
  }
}
