.about {
  display: grid;
  padding-bottom: 23px;

  gap: 20px 96px;
  grid-template-columns: repeat(2, 1fr);
}

.about-section {
  position: relative;

  display: grid;
  align-content: start;
  padding: 48px 0;

  gap: 30px;
  grid-template-columns: 1fr;
  justify-items: start;
}

.about-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 84px;
  height: 7px;

  background-color: #000000;
}

.about-title {
  margin-bottom: 17px;
}

.about-text {
  margin: 0;
}

.about-item {
  position: relative;

  margin-bottom: 19px;
  padding-left: 37px;

  font-weight: 700;
  line-height: 20px;
  color: #000000;
  letter-spacing: -0.02em;
}

.about-item:last-child {
  margin-bottom: 0;
}

.about-item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 4px;

  width: 8px;
  height: 8px;

  background-color: #ffc700;
  border-radius: 50%;
  transform: translateY(-50%);
}

.about-button {
  padding: 10px 22px;

  font-size: 18px;
  line-height: 21px;

  border: none;
}

.about-section-contacts .about-button {
  padding: 10px 32px;
}

.about-title-small {
  margin: 0 0 14px;

  font-size: 24px;
  color: #444444;
}

.about-address {
  font-style: normal;
}

.about-link {
  color: #444444;
}
