<section class="advantages">
    <div class="advantages__container container">
        <h2>Наши преимущества</h2>
        <div class="advantages__list advantages__wrapper">
            <div class="advantages__item advantages__item--center">
                <div class="advantages__number">
                    <span>100</span>
                    <span>Тренажеров</span>
                </div>
                <div class="advantages__content">
                    <p>Современные тренажеры на&nbsp;все группы мышц</p>
                </div>
            </div>
            <div class="advantages__item advantages__square">
                <div class="advantages__number">
                    <span>900</span>
                    <span>кв/м</span>
                </div>
                <div class="advantages__content">
                    <h3>Площадь</h3>
                    <p>Занимайтесь без очередей и&nbsp;толпучки</p>
                </div>
            </div>
            <div class="advantages__item advantages__parking">
                <div class="advantages__number advantages__number--column">
                    <span>70</span>
                    <span>машин</span>
                </div>
                <div class="advantages__content">
                    <h3>Собственная парковка</h3>
                    <p>Вы&nbsp;всегда найдете место для своей&nbsp;машины на&nbsp;нашей парковке</p>
                </div>
            </div>
            <div class="advantages__item advantages__item--row advantages__comfort">
                <div class="advantages__number">
                    <span>350</span>
                    <span>мест</span>
                </div>
                <div class="advantages__content">
                    <h3>Комфорт</h3>
                    <p>Просторные раздевалки, душевые, фен, Wi-Fi, кулеры</p>
                </div>
            </div>
            <div class=" advantages__item advantages__item--row advantages__experience">
                <div class="advantages__number advantages__number--column">
                    <span>5+</span>
                    <span>лет</span>
                </div>
                <div class="advantages__content">
                    <h3>Тренерский опыт</h3>
                    <p>Добивайтесь своих целей быстрее с&nbsp;профессиональным тренером</p>
                </div>
            </div>
        </div>
    </div>
</section>
